<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<system.serviceModel>
		<services>
			<service name="WsRamSyndicationService.StudentNotesFeed" behaviorConfiguration="WsRamSyndicationService.serviceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8107/WsRamSyndicationService/" />
					</baseAddresses>
				</host>
				<endpoint address="StudentNotesFeed"
						  behaviorConfiguration="WsRamSyndicationService.StudentNotesFeedBehavior"
						  binding="webHttpBinding"
						  contract="WsRamSyndicationService.IStudentNotesFeed" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WsRamSyndicationService.serviceBehavior">
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="WsRamSyndicationService.StudentNotesFeedBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>