<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISimplex" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8005/WcfSimplex" 
					  binding="netTcpBinding"
                      bindingConfiguration="NetTcpBinding_ISimplex" 
					  contract="WcfSimplexTcpReference.ISimplex">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>